@use "../_variables" as *;

@keyframes lowBlink {
	0% {
		color: #ff0000;
	}

	50% {
		color: #ffff00;
	}

	100% {
		color: #000066;
	}
}

// ------------- Battery bar --------------

.battery {
	border: none;
	color: $color1;
	font-size: 0.5rem;

	&-tooltip {
		font-size: 1rem;

		.titles {
			font-weight: bold;
		}

		.values {
			color: $color2;
		}
	}

	image {
		&.charging {
			color: yellow;
		}

		&.discharging {
			color: red;
		}
	}

	&.low {
		animation: lowBlink 3s infinite;

		label,
		image {
			animation: lowBlink 2s infinite;
		}
	}

	&:hover {
		color: $color5;
	}
}

.battery-lvlbar {
	trough {
		/* border: $border; */
		border-radius: calc($radius * 5);
		min-width: 75px;
		/* background: purple; */

		block {
			min-height: 10px;
			border: 1px solid $color2;
			border-radius: calc($radius * 5);
			margin: 0 0.25px;

			&.empty {
				background-color: green;
				color: red;
				background: linear-gradient(90deg, black, red 100%);
			}

			&.filled {
				background-color: red;
				color: green;
				background: linear-gradient(90deg, lime, black 100%);
			}
		}
	}
}

.popped {
	border-radius: calc($radius * 1.25);
	border: $border;
	padding: 1rem;
	background: $SecondaryBG;

	.power {
		all: unset;

		button {
			border: $border;
			border-width: 5px;
			border-radius: $radius;
			padding: 0.45rem 0.65rem;
			margin: 0 0.5rem;

			label {
				font-weight: bold;
				margin-top: 0.25rem;
			}

			&:hover {
				border-top: $border;
				border-bottom: $border;
				border-width: 5px;
			}

			&:first-child {
				color: lime;

				&:hover {
					border-left: 5px solid lime;
					border-right: 5px solid lime;
					background: linear-gradient(0deg, lime 0%, rgba(0, 0, 0, 0) 50%, lime 100%);
				}
			}

			&:nth-child(2) {
				color: yellow;

				&:hover {
					border-left: 5px dashed yellow;
					border-right: 5px dashed yellow;
					background: linear-gradient(0deg, rgba(255, 255, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 0, 1) 100%);
				}
			}

			&:last-child {
				color: red;

				&:hover {
					border-left: 5px dotted red;
					border-right: 5px dotted red;
					background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(255, 0, 0, 1) 100%);
				}
			}
		}

		.power-saver {
			border-left-color: lime;
			border-right-color: lime;
		}

		.balanced {
			border-left-color: yellow;
			border-right-color: yellow;
			border-left-style: dashed;
			border-right-style: dashed;
		}

		.performance {
			border-left-color: red;
			border-right-color: red;
			border-left-style: dotted;
			border-right-style: dotted;
		}
	}
}
