@use "../_variables" as *;

.dashboard {
	font-weight: bold;

	&.topCenter,
	&.leftSide,
	&.rightSide {
		border-radius: $radius;
		/* background: $PrimaryBG; */
		margin: 0.25rem;
		padding: 0.5rem;

		&.leftSide,
		&.rightSide {
			/* background: $TertiaryBG; */
			border: $border;
		}
	}
}
