@use "../_variables" as *;

.tray {
	/* background: $TertiaryBG; */
	border: $border;
	border-radius: $radius;
	padding: 0.25rem;

	> * {
		border: 2px solid transparent;
		background-color: transparent;
		font-weight: bold;
	}

	button {
		image {
			color: $color1;
			border-radius: $radius;
		}

		&:hover {
			background-color: #1e1e2e;
			border-radius: $radius;
			border: $border;
		}
	}
}

.menu {
	all: unset;
	arrow {
		/* all: unset; */
		left,
		right {
			background: red;
			color: blue;

			image {
				background: red;
				color: blue;
			}
		}
	}
	contents {
		/* background: rgba(0, 0, 0, 1);
		border-radius: $radius;
		border: $border;
		padding: 0.25rem;
		color: $color1; */
		.inline-buttons button.model {
			color: blue;
		}
		.flat {
			/* background: rgba(0, 0, 0, 1); */
			border-radius: $radius;
			color: $color1;
			margin: 0.5rem;
			padding-left: 0.5rem;

			&:hover {
				color: $color5;
				font-weight: bold;
				border: $border;
				border-top: none;
				border-color: $color4;

				image {
					color: $color4;
				}
			}
			image {
				color: $color1;
			}

			&:disabled {
				color: gray;
				background: rgba(39, 38, 38, 0.5);
				border: none;
			}
		}
	}
}
